@use "../../_css/queries.scss" as *;

.header {
  padding: 10px 0;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--base) / 2);
  gap: 20px;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none !important;
}

.poweredBy {
  font-size: 14px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  font-size: 10px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
